a{
    color: #b9491d;
    text-decoration: none;
}

h1{
    text-align: center;
}

.user-information{
    margin-left:10%;
    margin-right:10%;
    width:80%;
    border:1px solid;
    margin-top: 2px;
    border-color: rgb(140, 140, 140);
    background-color:#f5f2ed;
    font-size:medium;
    text-align: center;
}